.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #E0E0E0;
  border: 0;
  font-size: 12px;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #F5923E;
  color: white;
}

@media (min-width: 200px) and (min-height: 200px) {
  .component-button button {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (min-height: 300px) {
  .component-button button {
    font-size: 30px;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  .component-button button {
    font-size: 35px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .component-button button {
    font-size: 40px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .component-button button {
    font-size: 60px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .component-button button {
    font-size: 70px;
  }
}

.component-button-panel {
  background-color: #858694;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.component-button-panel > div {
  width: 100%;
  margin-bottom: 1px;
  flex: 1 0 auto;
  display: flex;
}

.component-display {
  background-color: #858694;
  color: white;
  text-align: right;
  font-weight: 200;
  flex: 0 0 auto;
  width: 100%;
}

.component-display > div {
  font-size: 20px;
  padding: 8px 4px 0 4px;
}

@media (min-width: 200px) and (min-height: 200px) {
  .component-display > div {
    font-size: 60px;
    padding: 20px 16px 0 10px;
  }
}

@media (min-width: 300px) and (min-height: 200px) {
  .component-display > div {
    font-size: 70px;
    padding: 20px 22px 0 10px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .component-display > div {
    font-size: 80px;
    padding: 20px 30px 0 15px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .component-display > div {
    font-size: 100px;
    padding: 20px 40px 0 20px;
  }
}

.component-app {
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  height: 100%;
}

